


.text-button {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    color: inherit;
}
.text-button:hover{
    transform: scale(1.10)
}

.ImprintContainer{
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100vw;
    background-color: white;
    padding: 5px;
    font-size: 18px;
}
.ImprintInformation{
    display: flex;
    justify-content: space-between;
    padding: 0 40px; /* Adjust the padding as needed */
    margin-bottom: 15px;
    margin-top: 15px;
}
  
  