.headbar-Container {
  display: flex;
  align-items: center;
  background-color: rgba(246, 239, 235, 0.7); /* 128 */
  height: 7%;
  width: 100vw;
  flex-wrap: nowrap;
  justify-content: end;
}

.headbar-picture {
  width: 100px;
  height: auto;
}

.Search-Container {
  padding-left: 3%;
  height: 7%;
  padding-top: 20px;
  width: 63.5%;
}

.Search-Container input {
  width: 100%;
  max-width: 63.5%;
  border: 1px solid black;
  border-radius: 10px;
  padding: 8px;
  font-size: 16px;
  background-color: rgba(144, 126, 112, 0.7);
  color: rgb(0, 0, 0);
}

.Search-Container input::placeholder {
  color: rgb(0, 0, 0);
}

.headbar-link-user {
  text-decoration: none;
  display: flex;
  align-items: center;
  padding-left: 1%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.headbar-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  padding-left: 1%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 8%;
}

.navigation-container {
  display: flex;
  align-items: center;
  padding-left: 1%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 3;
  margin-right: 0px;
}

@media (max-width: 449px) {
  .headbar-text{
    display: none;
  }
  
}