body {
    background-image: url(".//../images/doner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: #414040;
    overflow-x: hidden;
    overflow-y: auto; 
    height: 100vh;
    width: 100vw;    
  }
  .container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  .login-container h2 {
    font-size: 24px;
  }
  .login-container {
    text-align: center;
    width: 350px;
    background-color: beige;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
    font-size: 18px;
  }
  
  .login-container input, #username, #email {
    margin-bottom: 10px;
    width: 60%;
    padding: 10px;
    box-sizing: border-box;
    font-size: 18px;
  }



  .login-container #username, #email {
    margin-bottom: 10px;
    width: 60%;
    padding: 10px;
    box-sizing: border-box;
    font-size: 18px;
    border: 1px solid ;
    border-radius: 2px;
  }
  

  .login-container button {
    margin-bottom: 20px;
    width: 60%;
    padding: 10px;
    box-sizing: border-box;
    font-size: 18px;
  }
  /* .login-container p{
    color: blue;
    border: none;
    background-color: transparent;
    text-decoration: underline;
    font-size: 18px;
  } */
  .login-container [id="switchSignUp"]{
    color: blue;
    background-color: transparent;
    border:none;
    width: auto;
    font-size: 18px;
  }
  .message-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    color: green;
    padding: 10px;
    text-align: center;
    animation: fadeOut 5s ease-out forwards;
  }
  
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      display: none;
    }
  }