.recipe-list {
    list-style: none;
    padding-left: 4%;
    padding-right: 4%;
  }
  
  .recipe-item {
    background-color: rgba(242, 242, 242, 0.85);
    margin-bottom: 5px;
    border-radius: 5px;
    text-decoration: none;
    
  }
  .listitem-container{
    display: flex;
    
  }
  .recipe-info{
    display: flex;
    padding-top: 20px;
    
    
  }

.nameTags,
.description,
.dateLikes {
    flex-grow: 1;
    flex-basis: 0;
}

/* Example styles for the divs */
.nameTags {
  text-align: left;
}

.description {
  text-align: center;
}

.dateLikes {
  text-align: right;
}