.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  header {
    background: #f2f2f2;
    padding: 16px;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: none;
  }
  
  .modules {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 16px;
  }
  
  .main {
    flex-basis: calc(70%);
    background: #f9f9f9;
    padding: 16px;
    margin-bottom: 16px;
    margin-right: 10px;
    border: 1px solid #ccc;
  }

  .categories {
    flex-basis: calc(20%);
    background: #f9f9f9;
    padding: 16px;
    margin-bottom: 16px;
    margin-left: 10px;
    border: 1px solid #ccc;
  }

  .searchbar {
    flex-basis: calc(70%);
    background: #f9f9f9;
    padding: 16px;
    margin-bottom: 16px;
    margin-left: 10px;
    border: 1px solid #ccc;
  }

  .user {
    flex-basis: calc(25%);
    background: #f9f9f9;
    padding: 16px;
    margin-bottom: 16px;
    margin-left: 10px;
    border: 1px solid #ccc;
  }
  
  footer {
    background: #f2f2f2;
    padding: 16px;
    margin-top: auto;
  }
  