.listitem-recipe {
  list-style: none;
  background-color: white;
  max-width: 220px;
}
.Container-List-Recipe {
  max-height: 350px;
}
.buttonForLike {
  justify-content: flex-end;
  background: none;
  border: none;
  cursor: pointer;
  visibility: visible;
}
.like-icon {
  width: 24px; /* Adjust the size of the like icon as needed */
  height: 24px;
}

.container-List {
  height: 75vh;
  overflow: auto;
}
.listitem-recipe:hover {
  transform: scale(1.05);
  transition: 0.4s ease-in-out;
  animation: fadeOut 0.4s;
}

.author-container {
  margin-top: 20px;
  text-align: left;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.name-container {
  margin-top: 3px;
  text-align: center;
}

.name {
  font-size: 14;
  font-weight: 500;
}
.author {
  margin-top: 28px;
  width: 200px;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
}

.image-wrapper {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.food-picture {
  max-width: 200px;
  max-height: auto;
}
